/* [Master Stylesheet] */

/* ------------- Index of Stylesheet -------------
:: 1.0 Import Web Fonts
:: 2.0 Import All CSS
:: 3.0 Common/Base CSS
:: 4.0 Wrapper CSS
:: 5.0 Header Area CSS
:: 6.0 Side Menu Area CSS
:: 7.0 Top Discount CSS
:: 8.0 Welcome Area CSS
:: 9.0 Quickview Modal Area CSS
:: 10.0 Top Catagory Area CSS
:: 11.0 New Arrivals Area Start
:: 12.0 Offer Area CSS
:: 13.0 Testimonials CSS
:: 14.0 Footer Area CSS
:: 15.0 Breadcumb Area CSS
:: 16.0 Product Sidebar Area CSS
:: 17.0 Product Details Area CSS
:: 18.0 Cart Page CSS
:: 19.0 Checkout Area CSS
------------------------------------------------ */

/* --------------------
:: 1.0 Import Web Fonts
-------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* ------------------
:: 2.0 Import All CSS
------------------ */

@import '../css/owl.carousel.css';

/* -------------------
:: 3.0 Common/Base CSS
------------------- */

.karl-testimonials-slides.owl-carousel .owl-dots {
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: 5;
    width: 30px;
    background-color: transparent;
    height: auto;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.karl-testimonials-slides.owl-carousel .owl-dot {
    border: 2px solid #9f9f9f;
    border-radius: 50%;
    display: block;
    height: 9px;
    margin: 15px 10px;
    width: 9px;
}

<<<<<<< HEAD
.menu-content > li > a:before {
    width: 10px;
    height: 10px;
    border: 1px solid #72727c;
    background-color: #72727c;
    border-radius: 2px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
}

.menu-content > li.collapsed > a:before {
    width: 10px;
    height: 10px;
    border: 1px solid #858585;
    background-color: transparent;
    border-radius: 2px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
}

.menu-list .menu-content {
    display: block;
}

/* -------------------
:: 7.0 Top Discount CSS
------------------- */

.top-discount-area .single-discount-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 40px 15px;
    background-color: #cfcfcf;
    text-align: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
}

.top-discount-area .single-discount-area:nth-child(2) {
    background-color: #2d99bd;
}

.top-discount-area .single-discount-area:last-child {
    background-color: #72727c;
}

.top-discount-area .single-discount-area h5 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}

.top-discount-area .single-discount-area h6,
.top-discount-area .single-discount-area a {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
}

/* ---------------------
:: 8.0 Welcome Area CSS
--------------------- */

.single_slide {
    background-position: center top;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.welcome_slide_text {
    position: relative;
    z-index: 1;
}

.welcome_slide_text > h2,
.single_catagory_area h2 {
    font-size: 62px;
    letter-spacing: 0;
    margin-left: -5px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.welcome_slide_text h6,
.single_catagory_area h6 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 5px;
}

.welcome_slides.owl-carousel .owl-dots {
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 5;
    width: 30px;
    background-color: transparent;
    height: auto;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.welcome_slides.owl-carousel .owl-dot {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    height: 9px;
    margin: 15px 10px;
    width: 9px;
}

.welcome_slides.owl-carousel .owl-dot.active {
=======
.karl-testimonials-slides.owl-carousel .owl-dot.active {
>>>>>>> 44f92591ac0b1899cafa1123371f9a7b80a7ec06
    background-color: #72727c;
    border-color: #72727c;
}