/* [Master Stylesheet] */

/* ------------- Index of Stylesheet -------------
:: 1.0 Import Web Fonts
:: 2.0 Import All CSS
:: 3.0 Common/Base CSS
:: 4.0 Wrapper CSS
:: 5.0 Header Area CSS
:: 6.0 Side Menu Area CSS
:: 7.0 Top Discount CSS
:: 8.0 Welcome Area CSS
:: 9.0 Quickview Modal Area CSS
:: 10.0 Top Catagory Area CSS
:: 11.0 New Arrivals Area Start
:: 12.0 Offer Area CSS
:: 13.0 Testimonials CSS
:: 14.0 Footer Area CSS
:: 15.0 Breadcumb Area CSS
:: 16.0 Product Sidebar Area CSS
:: 17.0 Product Details Area CSS
:: 18.0 Cart Page CSS
:: 19.0 Checkout Area CSS
------------------------------------------------ */

/* --------------------
:: 1.0 Import Web Fonts
-------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* ------------------
:: 2.0 Import All CSS
------------------ */

@import '../css/owl.carousel.css';

/* -------------------
:: 3.0 Common/Base CSS
------------------- */

.karl-testimonials-slides.owl-carousel .owl-dots {
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: 5;
    width: 30px;
    background-color: transparent;
    height: auto;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.karl-testimonials-slides.owl-carousel .owl-dot {
    border: 2px solid #9f9f9f;
    border-radius: 50%;
    display: block;
    height: 9px;
    margin: 15px 10px;
    width: 9px;
}

.karl-testimonials-slides.owl-carousel .owl-dot.active {
    background-color: #72727c;
    border-color: #72727c;
}